{% extends 'headbase.html' %}

{% block extra_head %}
{% load static %}
  <link rel="stylesheet" href="{% static 'js/deleteP.js' %} "/>
  <title>Delete Page</title>
{% endblock extra_head %}

{% block content %}

<body>
  
  <div class="head">Delete Student Page</div>
  <section>
    <!-- <h1>Delete Student Page</h1> -->
  </section>
  <div class="content">
    <table class="centertable">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>ID</th>
                <th>Level</th>
                <th>GPA</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Mobile Phone</th>
                <th>Email</th>
                <th>Status</th>
                <th>Departement</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="TBody">
          {% for x in data %}
            <tr>    
              <td>{{x.fname}}</td>
              <td>{{x.lname}}</td>
              <td>{{x.id}}</td>
              <td>{{x.level}}</td>
              <td>{{x.gpa}}</td>
              <td>{{x.gender}}</td>
              <td>{{x.dob}}</td>
              <td>{{x.phonenumber}}</td>
              <td>{{x.email}}</td>
              <td>{{x.status}}</td>
              <td>{{x.departement}}</td>
              <td><button class="slBtn" id="delete" >Delete</button></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
  
</body>
{% endblock content %}