{% extends 'headbase.html' %}

{% block extra_head %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/manPageStyle.css' %} "/>
  <script defer src="{% static 'js/mainpage.js'%}"></script>
  <script defer src="{% static 'js/Departement-Assignment-Page.js'} "></script>
  <title>Department Assignmet Page</title>
{% endblock extra_head %}

{% block content %}      
        <div class="head">Department Assignment Page</div>
        <div class="content">
            <br>
            <form >
                <fieldset>
                    <legend>student Information</legend>
                    <p> <strong>Student ID:</strong><input type = "text" id = "ID" placeholder="Enter ID" readonly/></p> <br>
                    <p> <strong>Name:</strong> <input type = "text" id = "Name" placeholder="Enter First name" readonly/></p> <br>
                    <form method="post" Align="left">
                    <h3>Departement Choise:
                    <select id="select">
                        <option>Departement</option>
                        <option name ="Departement" type = "select" value="CS">CS</option>
                        <option name ="Departement" type = "select" value="IT">IT</option>
                        <option name ="Departement" type = "select" value="IS">IS</option>
                        <option name ="Departement" type = "select" value="AI">AI</option>
                        <option name ="Departement" type = "select" value="DS">DS</option>
                        <br>
                    </select>
                    <button id="btnDep" class = "slBtn" type="button">submit</button>
                    </h3>
                </fieldset>
            </form>
        </div>
</body>
{% endblock content %}

