{% extends 'headbase.html' %}

{% block extra_head %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/manPageStyle.css' %} "/>
  <script defer src="{% static 'js/mainpage.js' %}"></script>
  <script defer src="{% static 'js/udpateHome.js'%} "></script>
  <title>Update Home Page</title>
{% endblock extra_head %}

{% block content %} 
      
        <div class="head">Update Home Page</div>
    <div class="content">
        <div>
            <br>
            <h1>
                <br>
                FCAI-Student-Update :
            </h1>
            <form method="post">
                    <fieldset>
                        <legend>Student Information:</legend>
                        <br>
                        <p>student ID: <input id= "inputid" type="text" placeholder="Enter your ID..." /></p>
                        <br>
                        <button id="editButton" class="slBtn cbtn" type="button" value="Register">Edit</button>
                    </fieldset>
                </form>
        </div>
    </div>
</body>
{% endblock content %}
